.App
{

}

.App__screenWrapper
{
  position:   fixed;
  top:        0;
  left:       0;
  right:      0;
  bottom:     100px;
  overflow-y: auto;
  transition: bottom 300ms ease;

  &.App__screenWrapper--landing
  {
    bottom: 0;
  }

}