.IntroBlock
{
  height:              30vh;
  background-color:    #D0D0D0;
  display:             flex;
  align-items:         center;
  justify-content:     center;
  background-image:    url('http://www.goldcoast.qld.gov.au/_images/photos/Gold%20Coast%20Beaches/iStock_000015684964Small-cropped.jpg');
  background-size:     cover;
  background-position: center;
  background-repeat:   no-repeat;
  position:            relative;
}

.IntroBlock__return
{
  position: absolute;
  top:      10px;
  left:     10px;
  color:    #FFFFFF;
}