.IntroBlock
{
  height:              30vh;
  background-color:    #D0D0D0;
  display:             flex;
  align-items:         center;
  justify-content:     center;
  background-image:    url('https://upload.wikimedia.org/wikipedia/commons/2/2a/Beautiful_place.jpg');
  background-size:     cover;
  background-position: center;
  background-repeat:   no-repeat;
  position:            relative;

  &::before
  {
    content:          '';
    position:         absolute;
    top:              0;
    left:             0;
    right:            0;
    bottom:           0;
    background-color: rgba(0, 0, 0, 0.25);
  }

  h2
  {
    color:       #FFFFFF;
    font-size:   28px;
    font-weight: 700;
    position:    relative;
  }

}

.IntroBlock__return
{
  position: absolute;
  top:      10px;
  left:     10px;
  color:    #FFFFFF;
}