@mixin resetButton
{
  cursor:     pointer;
  font:       inherit;
  padding:    0;
  border:     0;
  background: none;

  &:focus
  {
    outline: none;
  }

}

@mixin actionButton
{
  @include resetButton;
  background-color: #65bfff;
  color:            #FFFFFF;
  padding:          5px 14px;
  font-size:        14px;
  border-radius:    20px;
}