@mixin linearGradient($top, $bottom)
{
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%, $bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C */
  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

.MainNav
{
  position:         fixed;
  left:             0;
  bottom:           0;
  right:            0;
  display:          flex;
  background-color: #FFFFFF;
  box-shadow:       0 -5px 20px rgba(0, 0, 0, 0.05);
  z-index:          500;
  transition:       transform 300ms ease;

  &.MainNav--hidden
  {
    transform: translateY(100%);
  }

}

.MainNav__tab
{
  flex:         1;
  height:       100px;
  border-right: 1px solid #f3f3f3;
  cursor:       pointer;
  font-weight:  500;
  color:        #909090;

  &.MainNav__tab--selected
  {
    @include linearGradient(#F0F0F0, #FAFAFA);
    color: #333333;
  }

  a
  {
    display:         flex;
    align-items:     center;
    justify-content: center;
    height:          100%;
  }

  &:last-of-type
  {
    border-right: 0;
  }

}